.main {
  background-color: hsl(0, 0%, 0%);
  color: #fff;
  align-items: center;
  overflow-x: hidden;
}

.flexbox {
  display: flex;
}

.header {
  align-items: center;
  gap: 10%;
  width: 90%;
  padding: 5px 5%;
  background-color: rgba(0, 0, 0, 0.688);
  position: fixed;
}

.logo {
  height: 8dvh;
  width: auto;
}

section {
  min-height: 100dvh;
}

h1 {
  font-size: 1.8em;
  color: rgb(64, 130, 250);
}

p, li {
  font-size: 1.2em;
}

button {
  border: none;
  color: #fff;
  background-color: transparent;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  color: rgb(64, 130, 250);
}

.sectionHome {
  height: 100dvh;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1em;
  padding: 2em;
  text-align: justify;
  img {
    height: 60dvh;
  }
}

.sectionCursos {
  gap: 5dvh;
  flex-direction: column;
  text-align: center;
}

.sectionCursosContainer {
  gap: 2em;
  justify-content: center;
  align-items: center;

  > div
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35dvh;
    width: 20dvw;
    border-radius: 5px;
    padding: 5px;
  }
}

.sectionCursosContainer > div:hover {
  color: rgb(64, 130, 250); 
  border: 1px solid rgb(64, 130, 250);
  cursor: default;
}

.sectionTecnologias {
  flex-direction: column;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  gap: 1em;
}

.carousel {
  padding: 0px 3em;
  width: fit-content;
  gap: 20%;
  animation: slide ease-in-out 15s;
  animation-iteration-count: infinite;
  position: relative;
}
.card {
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
  text-align: center;
  
  img {
    height: 30dvh;
  }
}

.sectionGames {
  align-items: center;
  gap: 10%;
  padding: 2em;

  img {
    height: 50dvh;
  }
}

.sectionEvolucao {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding: 2em;
  text-align: center;
  li, ul {
    text-align: left;
  }
}

.flashcard {
  width: 90%;
  height: 50%;
  img {
    height: 10dvh;
  }
}

.flashcard:hover {
  border: 1px solid rgb(120, 130, 250);
  color: rgb(120, 130, 250);
}

.sectionVantagens {
  height: 100dvh;
  align-items: center;
  justify-content: space-between;
  img {
    height: 80%;
    max-width: 50%;
  }
  div {
    padding: 2em;
  }
}

.sectionInfo {
  padding: 2em;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 700px) {
  section{
    margin: 5dvh 0px;
    height: fit-content;
  }
  h1 {
    font-size: 1.2em;
  }
  p, li, ul, h2 {
    font-size: 14px;
  }
  .sectionHome {
    flex-direction: column;
    h1 {
      text-align: center;
    }
    img {
      width: 80dvw;
      height: auto;
    }
  }
  .sectionCursosContainer {
      flex-direction: column;
      padding: 10px;
      div {
        border: 1px solid rgb(64, 130, 250);
        font-size: 14px;
        width: 90%;
        height: 30%;
      }
  }
  .card {
    padding: 0px;
    img {
      height: 3em;
    }
  }
  .sectionGames  {
    flex-direction: column;
    h1, p {
      text-align: center;
    }
    img {
      width: 80dvw;
      height: auto;
    }
  }
  .sectionVantagens {
    h1 {
      text-align: center;
    }
    img{
      width: 0px;
      visibility: hidden;
    }
  }
  .sectionInfo {
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
  }
  .header {
    visibility: hidden;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
