
* {
  color: #fff;
}

.main {
  background-color: #000;
}

.header {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 90%;
  padding: 10px 5%;
  background-color: rgb(60, 60, 60);
}

.dragon {
  height: 8dvh;
  width: auto;
}

section {
  height: 100dvh;
}

h1 {
  font-size: 2em;
}

p, ul, li {
  font-size: 1.2em;
}

.sectionHome {
  display: flex;
  div {
    padding: 2em;
    test-align: jutistify;
  }
  img {
    height: 80%;
  }
}

button {
  border: none;
  color: #000;
  background-color: transparent;
  font-size: 1em;
}